* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1LzQyOC1qYWNrYW5zdGV5LXJwLW9jdG9iZXIyMDE5LTAxODUta3dhbi1hLmpwZw.webp");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.links .links-list li:nth-child(1) .link {
  background-image: url("علم-مصر.jpg");
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.links .links-list li:nth-child(2) .link {
  background-image: url("R.jpeg");
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.links .links-list li:nth-child(3) .link {
  background-image: url("shutterstock_1975087202-2048x1080.jpg");
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.links .links-list li:nth-child(4) .link {
  background-image: url("R (2).jpeg");
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.links-list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  padding-block: 10px;
  backdrop-filter: blur(3px);
  gap: 10px;
}

.parent h1 {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 100;
  color: white;
}

.date {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
}

.Days {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  padding-inline: 20px;
  padding-block: 56px;
  background-color: #0000005c;
  border-radius: 8px;
}

.Days span,
.Days p {
  text-align: center;
}

.Country {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.Country div {
  color: white;
  font-family: Arial;
  font-size: 14px;
}

.Country img {
  width: 25px;
}

.Days p {
  font-size: 12px;
  color: #d4d4d4;
  font-family: sans-serif;
}

.Days span {
  font-size: 33px;
  font-family: sans-serif;
  margin-top: 10px;
}

.timer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000db;
  width: 100%;
  height: 100vh;
  display: none;
}

.timer.active {
  display: block;
}

.timerDays {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.timerDays span {
  font-size: 40px;
  font-family: sans-serif;
  margin-top: 10px;
  color: white;
}

@media (min-width: 375px) {
  .Days {
    max-width: 335px;
  }

  .parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    padding-block: 10px;
    backdrop-filter: blur(3px);
    gap: 10px;
  }
}

@media (min-width: 640px) {
  .Days {
    max-width: 374px;
  }

  .parent {
    padding-inline: 40px;
  }
}

@media (min-width: 768px) {
  .Days {
    max-width: 374px;
  }

  .parent {
    padding-inline: 60px;
  }
}

@media (min-width: 992px) {
  .Days {
    max-width: 380px;
  }

  .parent {
    padding-inline: 80px;
  }
}

@media (min-width: 1200px) {
  .Days {
    max-width: 434px;
  }

  .parent {
    padding-inline: 100px;
  }

  .timerDays span {
    font-size: 50px;
  }

  .Days span {
    font-size: 40px;
  }

  .Country div {
    font-size: 17px;
  }

  .Days p {
    font-size: 13px;
  }
}

@media (min-width: 1400px) {
  .Days {
    max-width: 380px;
  }

  .parent {
    padding-inline: 150px;
  }
}